.course-outline-block .card-header {
	align-items: center;
	display: flex;
}

.course-outline-block .card-header span {
	font-size: 16px;
	color: #656565;
	font-weight: 600;
}

.course-outline-block .card-header {
	background: #fff !important;
}
.course-outline-block i {
	height: 20px;
	width: 20px;
	line-height: 22px;
	background: gainsboro;
	font-size: 16px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.course-outline-block .card-header {
	display: flex;
	justify-content: space-between;
}

.course-outline-block .card-header strong {
	font-size: 25px;
	margin-right: 10px;
	color: #17d0cf;
}

.course-outline-block .card-header span {
	display: flex;
	align-items: center;
}

.course-outline-block .card-body li {
	padding: 15px 0px;
	border-bottom: 1px solid #dfdfdf;
}

.course-outline-block .card-body {
	padding: 0;
	margin: 0;
}

.course-outline-block .card-body ul {
	margin: 0;
	padding: 0;
	border: none;
}

.course-outline-block .card-body li:last-child {
	border: none;
}

.course-outline-block .card-body li i {
	color: #1edec1;
	padding: 0px 20px;
	background: none;
	margin-right: 10px;
}

.course-outline-block .card-body li span {
	font-size: 15px;
	color: #000;
	font-weight: 400;
	letter-spacing: 1px;
}
