.create-course-form input,
.create-course-form textarea,
.create-course-form select {
	display: block;
	width: 70%;
	margin-bottom: 10px;
	padding: 10px 20px;
	background: #f2f2fa;
	border: none;
	color: #000;
	font-size: 16px;
	letter-spacing: 1px;
	outline: none;
}
